<?xml version="1.0" encoding="UTF-8"?>
<included>

    <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
        <!--日志异步到数据库 -->
        <connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">
            <!--连接池 -->
            <dataSource class="com.zaxxer.hikari.HikariDataSource">
                <driverClassName>com.mysql.jdbc.Driver</driverClassName>
                <jdbcUrl>jdbc:mysql://192.168.0.120:3306/hzfq_admin_springboot?useUnicode=true&amp;\
                    characterEncoding=utf-8&amp;useSSL=false&amp;serverTimezone=UTC
                </jdbcUrl>
                <username>root</username>
                <password>mysql</password>
            </dataSource>
        </connectionSource>
    </appender>
</included>
